fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.39
psycopg[binary]==3.2.6
pydantic[email]==2.11.2
pydantic-settings==2.8.1
pytest==8.3.5
httpx==0.28.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
itsdangerous==2.2.0
cloudinary==1.44.0
